Repository sstangl/openpowerlifting: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-checker-image, run-checker, python-style, pages

Path conditions:
  build-checker-image: any of: Dockerfile.checker, **/*.rs, **/Cargo.toml, Cargo.*, scripts/oplcsv.py, tests/check-lifter-data
  run-checker: any of: meet-data/**/*.csv, **/CONFIG.toml, lifter-data/**/*
  python-style: any of: **/*.py, scripts/*, tests/*
  pages: any of: book/**/*

Minor fixes to conversion script and meet data
  meet-data/nap/2401/entries.csv
  meet-data/nap/2401/meet.csv
  meet-data/nap/convert-translated-csv-2024-onward.py
Due: run-checker, python-style

Add 2026 WRPF World Cup UK
  meet-data/amp/2026-IL-03/entries.csv
  meet-data/nap/2401/entries.csv
  meet-data/wrpf/2605/entries.csv
  meet-data/wrpf/2605/meet.csv
  meet-data/wrpf/2605/original.csv
  meet-data/wrpf/CONFIG.toml
Due: run-checker

opltypes: Support url segment encoding/decoding for State
  crates/opltypes/src/states.rs
Due: build-checker-image

Rename USA-Guam to USA-GU for url segment encoding
  meet-data/apa/1809/entries.csv
  meet-data/intdfpa/IDFPA-2025-02/entries.csv
  meet-data/intdfpa/IDFPA-2025-03/entries.csv
  meet-data/usapl/GU-2024-01/entries.csv
  meet-data/usapl/GU-2024-01/meet.csv
  meet-data/usapl/GU-2025-01/entries.csv
  meet-data/usapl/GU-2025-01/meet.csv
  meet-data/usapl/GU-2025-02/entries.csv
  meet-data/usapl/GU-2025-02/meet.csv
  meet-data/usapl/HKG-2025-01/entries.csv
  meet-data/usapl/KOR-2024-03/entries.csv
  meet-data/usapl/KOR-2024-06/entries.csv
  meet-data/usapl/KOR-2024-08/entries.csv
  meet-data/usapl/KOR-2024-09/entries.csv
  meet-data/usapl/KOR-2025-04/entries.csv
  meet-data/usapl/NV-2024-03/entries.csv
  meet-data/usapl/NV-2024-05/entries.csv
  meet-data/uspa/0862/entries.csv
  meet-data/uspa/1088/entries.csv
  meet-data/uspa/1110/entries.csv
  meet-data/uspa/1176/entries.csv
  meet-data/uspa/1217/entries.csv
  meet-data/uspa/1290/entries.csv
  meet-data/uspa/1347/entries.csv
  meet-data/uspa/1398/entries.csv
  meet-data/uspa/1504/entries.csv
  meet-data/uspa/1514/entries.csv
  meet-data/uspa/1573/entries.csv
  meet-data/uspa/1581/entries.csv
  meet-data/uspa/1646/entries.csv
  meet-data/uspa/1671/entries.csv
  meet-data/uspa/1687/entries.csv
  meet-data/uspa/2022-072/entries.csv
  meet-data/uspa/2022-087/entries.csv
  meet-data/uspa/2693/entries.csv
  meet-data/uspa/2858/entries.csv
  meet-data/uspa/2919/entries.csv
  meet-data/uspa/2971/entries.csv
Due: run-checker

server: Add Country and State rankings and records
  crates/db/src/query/direct/rankings.rs
  crates/opltypes/src/states.rs
  server/client/scripts/rankings.ts
  server/client/scripts/records.ts
  server/src/pages/rankings.rs
  server/src/pages/records.rs
  server/templates/openipf/desktop/rankings.html.tera
  server/templates/openipf/desktop/records.html.tera
  server/templates/openipf/mobile/rankings.html.tera
  server/templates/openipf/mobile/records.html.tera
  server/templates/openpowerlifting/desktop/rankings.html.tera
  server/templates/openpowerlifting/desktop/records.html.tera
  server/templates/openpowerlifting/mobile/rankings.html.tera
  server/templates/openpowerlifting/mobile/records.html.tera
  server/templates/openpowerlifting/widget-nationalityselect.tera
Due: build-checker-image

Fix typo of Oleksii Melnyk in wpau/2502
  meet-data/wpau/2502/entries.csv
Due: run-checker

server: Remove England regions from nationality selector, only used by BP
  server/templates/openpowerlifting/widget-nationalityselect.tera
Due: none

Specify Roberto Guzman in gpa/2401
  meet-data/gpa/2401/entries.csv
Due: run-checker

Standardize on Leydi Daza Cazana
  meet-data/wrpf-chile/2402/entries.csv
  meet-data/wrpf-colombia/2502/entries.csv
Due: run-checker

Fix typo of Aleksandr Semenyuk in wrpf/2154
  meet-data/wrpf/2154/entries.csv
Due: run-checker

Fix capitalization of MeetName in rps/2548
  meet-data/rps/2548/meet.csv
Due: run-checker

Add 2026 SwissPL Showdown Series VIII
  meet-data/swisspl/2602/entries.csv
  meet-data/swisspl/2602/meet.csv
  meet-data/swisspl/CONFIG.toml
Due: run-checker

Standardize on Felipe Vallejo Oliver
  meet-data/usapl/FL-2024-07/entries.csv
  meet-data/usapl/FL-2024-09/entries.csv
  meet-data/usapl/FL-2025-05/entries.csv
Due: run-checker

Fix typo of Mirco Macchi in pwfl/2601
  meet-data/pwfl/2601/entries.csv
Due: run-checker

Fix typo of Mohamed Bangoura in wpf/1804
  meet-data/wpf/1804/entries.csv
Due: run-checker

Fix typo of Viktor Samúelsson in epf/2506
  meet-data/epf/2506/entries.csv
Due: run-checker

Fix EPF consistently can't spell Viktor Samúelsson
  meet-data/epf/2310/entries.csv
Due: run-checker

checker: Improve country interpolation when no explicit values
  checker/src/compiler/interpolate_country.rs
  crates/db/src/algorithms.rs
Due: build-checker-image

db: Remove all simple country MetaFederations
  crates/db/src/metafederation.rs
  server/templates/openpowerlifting/widget-fedselect.tera
Due: build-checker-image

db: Remove extra work from Country filtration
  crates/db/src/algorithms.rs
Due: build-checker-image

Fix typo of Oleksandr Kutcher in wpuf/2102
  meet-data/wpuf/2102/entries.csv
Due: run-checker

Fix age info for Đorđe Stojiljković in hpls/2502
  meet-data/hpls/2502/entries.csv
Due: run-checker

Guessing that Mike Brown 7 competing in Louisiana is not from Iran
  meet-data/apf/1614/entries.csv
Due: run-checker

Standardize on Margaret Necaise
  lifter-data/name-corrections.dat
  meet-data/usapl/NS-2026-10/entries.csv
Due: run-checker

Fix Tony Nguyen and 1 IG added
  lifter-data/social-instagram.csv
  meet-data/amp/2025-IL-11/entries.csv
  meet-data/nmaa/7206/entries.csv
  meet-data/nmaa/7236/entries.csv
  meet-data/nmaa/7266/entries.csv
  meet-data/nmaa/7330/entries.csv
  meet-data/nmaa/7411/entries.csv
Due: run-checker

adds apla air force 1
  meet-data/apla/2618/entries.csv
  meet-data/apla/2618/meet.csv
  meet-data/apla/2618/original.csv
  meet-data/apla/2619/entries.csv
  meet-data/apla/2619/meet.csv
  meet-data/apla/2619/original.csv
Due: run-checker

Add several FIPE meets
  meet-data/fiap/2201/entries.csv
  meet-data/fipe/2604/entries.csv
  meet-data/fipe/2604/meet.csv
  meet-data/fipe/2604/original.csv
  meet-data/fipe/2605/entries.csv
  meet-data/fipe/2605/meet.csv
  meet-data/fipe/2605/original.csv
  meet-data/fipe/2606/entries.csv
  meet-data/fipe/2606/meet.csv
  meet-data/fipe/2606/original.csv
  meet-data/fipe/2607/entries.csv
  meet-data/fipe/2607/meet.csv
  meet-data/fipe/2607/original.csv
  meet-data/fipe/2608/entries.csv
  meet-data/fipe/2608/meet.csv
  meet-data/fipe/2608/original.csv
  meet-data/fipe/2609/entries.csv
  meet-data/fipe/2609/meet.csv
  meet-data/fipe/2609/original.csv
  meet-data/fipl/2220/entries.csv
  meet-data/wrpf-italy/1903/entries.csv
Due: run-checker

Add SVNL 2022 Masters klassisen voimanoston SM-kilpailu, closes #17173
  meet-data/svnl/22082/URL
  meet-data/svnl/22082/entries.csv
  meet-data/svnl/22082/meet.csv
Due: run-checker

Fix: incorrect BirthYear for Anu Kangaskesti in svnl/22082
  meet-data/svnl/22082/entries.csv
Due: run-checker

Add 2026 BPF Mr & Mrs O
  meet-data/bpf/2602/URL
  meet-data/bpf/2602/entries.csv
  meet-data/bpf/2602/meet.csv
  meet-data/bpf/2602/original.csv
Due: run-checker

Add AEP2 Regional Noroeste 1, Narón, April 2026
  meet-data/aep/2607/URL
  meet-data/aep/2607/entries.csv
  meet-data/aep/2607/meet.csv
Due: run-checker

Add meet-data/aep/aep-parse.py: AEP results parser
  meet-data/aep/aep-parse.py
Due: python-style

Update IG for Jessica Ade. Closes #28086
  lifter-data/social-instagram.csv
Due: run-checker

Specify correct Charlotte Adams in bpu/2606. Closes #28082
  meet-data/bpu/2606/entries.csv
Due: run-checker

Add IG for Lorena Alves. Closes #28083
  lifter-data/social-instagram.csv
Due: run-checker

Standardize some WPPO lifter names
  meet-data/wppo/0401/entries.csv
  meet-data/wppo/0602/entries.csv
  meet-data/wppo/1701/entries.csv
  meet-data/wppo/1803/entries.csv
  meet-data/wppo/2108/entries.csv
Due: run-checker

Add 2026 FFForce Championnat de France Juniors de Force Athlétique
  lifter-data/name-corrections.dat
  meet-data/ffforce/25123/entries.csv
  meet-data/ffforce/2559/entries.csv
  meet-data/ffforce/2587/entries.csv
  meet-data/ffforce/2644/URL
  meet-data/ffforce/2644/entries.csv
  meet-data/ffforce/2644/meet.csv
  meet-data/ffforce/2644/original.csv
Due: run-checker

Add wpc-finland/2602
  lifter-data/social-instagram.csv
  meet-data/wpc-finland/2602/URL
  meet-data/wpc-finland/2602/entries.csv
  meet-data/wpc-finland/2602/meet.csv
  meet-data/wpc-finland/CONFIG.toml
Due: run-checker
