Repository sstangl/openpowerlifting: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-checker-image, run-checker, python-style, pages

build-checker-image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

run-checker:
  stage: check
  image: ${CI_REGISTRY}/openpowerlifting/opl-data/opl-checker:latest
  before_script:
  - cd ${CI_PROJECT_DIR}
  script:
  - checker --project-root ${CI_PROJECT_DIR} --timing
  - tests/check-lifter-data

python-style:
  stage: check
  image:
    name: alpine/flake8
    entrypoint:
    - ''
  script:
  - tests/check-python-style

pages:
  stage: deploy
  image: rust:latest
  variables:
    CARGO_HOME: $CI_PROJECT_DIR/cargo
  cache:
    key: mdbook-cache-key
    paths:
    - $CARGO_HOME/bin
  before_script:
  - export PATH="$PATH:$CARGO_HOME/bin"
  - mdbook --version || cargo install mdbook
  script:
  - mdbook build --dest-dir ../public book
  artifacts:
  ...

NZPU // Bar Wars 2
  lifter-data/name-disambiguation.csv
  meet-data/nzpu/2604/entries.csv
  meet-data/nzpu/2604/meet.csv
  meet-data/nzpu/2604/original.csv
Due: run-checker

Add 2026 USPA Holy City Armageddon 4. Closes #28046
  lifter-data/name-disambiguation.csv
  meet-data/uspa/3998/entries.csv
  meet-data/uspa/3998/meet.csv
  meet-data/uspa/3998/original.csv
  meet-data/uspa/3999/entries.csv
  meet-data/uspa/3999/meet.csv
  meet-data/uspa/3999/original.csv
Due: run-checker

Fix overwriting recent changes to the spelling of Jadwiga Radwańska
  lifter-data/name-corrections.dat
Due: run-checker

Add FRPL 2020 Campionatul National de Impins din Culcat, closes #25625
  meet-data/frpl/2002/URL
  meet-data/frpl/2002/entries.csv
  meet-data/frpl/2002/meet.csv
Due: run-checker

Add 2025 SAPF Provincials, closes #26848
  meet-data/sapf/2502/entries.csv
  meet-data/sapf/2502/meet.csv
  meet-data/sapf/2502/original.csv
Due: run-checker

Add 2013 BDFPA BUCS, closes #24360
  meet-data/bdfpa/1307/entries.csv
  meet-data/bdfpa/1307/meet.csv
Due: run-checker

Fix name for Robert Barreca
  meet-data/cpo/0901/entries.csv
  meet-data/uspa/0541/entries.csv
Due: run-checker

Fix ages, closes #28005 #28013 #28021 #28038
  meet-data/cpu/2024-03-16/entries.csv
  meet-data/epf/2406/entries.csv
  meet-data/epf/2507/entries.csv
  meet-data/epf/2508/entries.csv
  meet-data/usapl/FL-2025-19/entries.csv
  meet-data/uspa/1320/entries.csv
Due: run-checker

Fix equipment, closes #28035 #28040
  meet-data/rps/2554/entries.csv
  meet-data/rps/2610/entries.csv
Due: run-checker

Add IG, closes #28042
  lifter-data/social-instagram.csv
Due: run-checker

Misc fixes, closes #28034
  meet-data/fsfa/2603/entries.csv
  meet-data/wdfpf/2502/entries.csv
Due: run-checker

Name fixes, closes #27979 #28022 #28065
  lifter-data/name-corrections.dat
  meet-data/bp/2301/entries.csv
  meet-data/bp/2402/entries.csv
  meet-data/bp/2501/entries.csv
  meet-data/commonwealthpf/2401/entries.csv
  meet-data/epa/2263/entries.csv
  meet-data/epa/2364/entries.csv
  meet-data/epa/2453/entries.csv
  meet-data/epf/2306/entries.csv
  meet-data/epf/2405/entries.csv
  meet-data/epf/2507/entries.csv
  meet-data/hkwpa/2502/entries.csv
  meet-data/ipf/2409/entries.csv
  meet-data/ipf/2502/entries.csv
  meet-data/ipf/2507/entries.csv
  meet-data/uspa/1439/entries.csv
  meet-data/uspa/2455/entries.csv
Due: run-checker

Add PZKFiTS bench 2026, closes #27997
  meet-data/pzkfits/2602/URL
  meet-data/pzkfits/2602/entries.csv
  meet-data/pzkfits/2602/meet.csv
Due: run-checker

knkf-sp: Add 2026 meets up until May
  meet-data/knkf-sp/2514/entries.csv
  meet-data/knkf-sp/2602/URL
  meet-data/knkf-sp/2602/entries.csv
  meet-data/knkf-sp/2602/meet.csv
  meet-data/knkf-sp/2602/original-cl.csv
  meet-data/knkf-sp/2602/original-eq.csv
  meet-data/knkf-sp/2603/URL
  meet-data/knkf-sp/2603/entries.csv
  meet-data/knkf-sp/2603/meet.csv
  meet-data/knkf-sp/2603/original.csv
  meet-data/knkf-sp/2605/URL
  meet-data/knkf-sp/2605/entries.csv
  meet-data/knkf-sp/2605/meet.csv
  meet-data/knkf-sp/2605/original.csv
  meet-data/knkf-sp/2606/URL
  meet-data/knkf-sp/2606/entries.csv
  meet-data/knkf-sp/2606/meet.csv
  meet-data/knkf-sp/2606/original-cl.csv
  meet-data/knkf-sp/2606/original-eq.csv
  meet-data/knkf-sp/2607/URL
  meet-data/knkf-sp/2607/entries.csv
  meet-data/knkf-sp/2607/meet.csv
  meet-data/knkf-sp/2607/original.csv
  meet-data/knkf-sp/CONFIG.toml
Due: run-checker

Add some WRPF stuff
  crates/opltypes/src/federation.rs
  meet-data/wrpf-cameroon/2201/URL
  meet-data/wrpf-cameroon/2201/entries.csv
  meet-data/wrpf-cameroon/2201/meet.csv
  meet-data/wrpf-cameroon/CONFIG.toml
  meet-data/wrpf-mex/2203/entries.csv
  meet-data/wrpf-mex/2203/meet.csv
  meet-data/wrpf-mex/2203/original.csv
  meet-data/wrpf-mex/2204/entries.csv
  meet-data/wrpf-mex/2204/meet.csv
  meet-data/wrpf-mex/2204/original.csv
  meet-data/wrpf-nepal/2201/entries.csv
  meet-data/wrpf-nepal/2201/meet.csv
  meet-data/wrpf-nepal/2201/original.csv
  meet-data/wrpf-nepal/CONFIG.toml
  meet-data/wrpf-sweden/2201/entries.csv
  meet-data/wrpf-sweden/2201/meet.csv
  meet-data/wrpf-sweden/2201/original.csv
  meet-data/wrpf-sweden/2202/entries.csv
  meet-data/wrpf-sweden/2202/meet.csv
  meet-data/wrpf-sweden/2202/original.csv
  meet-data/wrpf-sweden/2301/entries.csv
  meet-data/wrpf-sweden/2301/meet.csv
  meet-data/wrpf-sweden/2301/original.txt
  meet-data/wrpf-sweden/CONFIG.toml
  server/templates/openpowerlifting/widget-fedselect.tera
Due: build-checker-image, run-checker

Add 2026 USPC Queen City Pro/Am. Closes #28074
  meet-data/uspc/2617/entries.csv
  meet-data/uspc/2617/meet.csv
  meet-data/uspc/2617/original.csv
Due: run-checker

Rename WRPFNEPAL to WRPFNepal
  crates/opltypes/src/federation.rs
Due: build-checker-image

Add SVNL 1989 M23 voimanoston SM-kisat, closes #18859
  meet-data/svnl/89001/URL
  meet-data/svnl/89001/entries.csv
  meet-data/svnl/89001/meet.csv
Due: run-checker

Fix typo of Tim Bühlmann in swisspl/2601. Closes #28075
  meet-data/swisspl/2601/entries.csv
Due: run-checker

server: Implement a Country filter on Rankings and Records pages
  Cargo.lock
  crates/db/benches/queries.rs
  crates/db/src/algorithms.rs
  crates/db/src/query/direct/filter.rs
  crates/db/src/query/direct/rankings.rs
  crates/opltypes/Cargo.toml
  crates/opltypes/src/country.rs
  server/client/scripts/records.ts
  server/src/dist/openipf.rs
  server/src/pages/rankings.rs
  server/src/pages/records.rs
  server/templates/openipf/desktop/records.html.tera
  server/templates/openipf/mobile/records.html.tera
  server/templates/openpowerlifting/desktop/records.html.tera
  server/templates/openpowerlifting/mobile/records.html.tera
Due: build-checker-image

rust: Implement suggested Clippy fixes
  checker/src/checklib/lifterdata.rs
  checker/src/compiler/make_csv.rs
  checker/src/meetdata.rs
  crates/db/src/cache.rs
  crates/db/src/query/direct/filter.rs
  server/src/pages/meet.rs
Due: build-checker-image

Fix typos of Samy Mohamed Mazhar Abouelezz
  meet-data/apf/1846/entries.csv
  meet-data/wpc/2307/entries.csv
Due: run-checker

Standardize on Atta Wadi
  meet-data/wpc/2307/entries.csv
Due: run-checker

Standardize on Abdeljbbar Skaik
  meet-data/asianpf/2202/entries.csv
Due: run-checker

Standardize on Yara El Haddad
  meet-data/uaepl/2403/entries.csv
Due: run-checker

Add AMP 2026-IL-03 & 2026-IL-04
  lifter-data/name-disambiguation.csv
  lifter-data/social-instagram.csv
  meet-data/amp/2026-IL-03/URL
  meet-data/amp/2026-IL-03/entries.csv
  meet-data/amp/2026-IL-03/meet.csv
  meet-data/amp/2026-IL-04/URL
  meet-data/amp/2026-IL-04/entries.csv
  meet-data/amp/2026-IL-04/meet.csv
  meet-data/uspc/2116/entries.csv
Due: run-checker

WIP: progress commit of translation script and NAP conversion wrapper
  .gitignore
  meet-data/nap/2603/original.csv
  meet-data/nap/2603/original_translated.csv
  meet-data/nap/convert-26
  scripts/translate-terms/language-data/ru.json
  scripts/translate-terms/translate.py
Due: run-checker, python-style

WIP: progress translation
  meet-data/nap/2603/original_translated.csv
  scripts/translate-terms/language-data/ru.json
Due: run-checker

WIP: progress
  meet-data/nap/2601/original_translated.csv
  meet-data/nap/2602/original_translated.csv
  scripts/translate-terms/language-data/ru.json
Due: run-checker

progress convert script
  meet-data/nap/convert-translated-csv-from-2024.py
Due: python-style

WIP: progress conversion script
  meet-data/nap/convert-translated-csv-from-2024.py
Due: python-style

WIP: progress on NAP
  meet-data/nap/2401/original.csv
  meet-data/nap/2401/original_translated.csv
  meet-data/nap/convert-26
  meet-data/nap/convert-from-2024
  meet-data/nap/convert-translated-csv-from-2024.py
  scripts/translate-terms/language-data/ru.json
Due: run-checker, python-style

WIP: NAP conversion script
  meet-data/nap/convert-translated-csv-from-2024.py
Due: python-style

WIP: conversion script
  meet-data/nap/convert-translated-csv-from-2024.py
Due: python-style

WIP: nap script progress
  meet-data/nap/convert-from-2024
  meet-data/nap/convert-translated-csv-from-2024.py
Due: python-style

Add NAP The Eurasian Championship Final "Russian Empire Cup - IV" (pre-Elite) 2024 Add new NAP parser and supporting stuff
  meet-data/nap/2401/entries.csv
  meet-data/nap/2401/meet.csv
  meet-data/nap/2401/original_translated.csv
  meet-data/nap/convert-2024-onward
  meet-data/nap/convert-translated-csv-2024-onward.py
  meet-data/nap/convert-translated-csv-from-2024.py
  scripts/translate-terms/language-data/ru.json
Due: run-checker, python-style

WIP: progress NAP script
  meet-data/nap/convert-translated-csv-from-2024.py
Due: python-style

CyrillicName consistency, add missing divisions, make conversion script render <13 yo div the way we have it in config
  meet-data/nap/2401/entries.csv
  meet-data/nap/CONFIG.toml
  meet-data/nap/convert-translated-csv-2024-onward.py
Due: run-checker, python-style

NAP script, ru translation dict fixes, nap/2401 data fixes
  meet-data/nap/2401/entries.csv
  meet-data/nap/2401/original_translated.csv
  meet-data/nap/convert-translated-csv-2024-onward.py
  meet-data/nap/import-original-xlsx-2024-onward
  scripts/translate-terms/language-data/ru.json
Due: run-checker, python-style

Path conditions:
  build-checker-image: any of: Dockerfile.checker, **/*.rs, **/Cargo.toml, Cargo.*, scripts/oplcsv.py, tests/check-lifter-data
  run-checker: any of: meet-data/**/*.csv, **/CONFIG.toml, lifter-data/**/*
  python-style: any of: **/*.py, scripts/*, tests/*
  pages: any of: book/**/*
